/* Styles */

.highTitle.slide {
    padding:20px 100px 0;
}

.container {
    display: flex;
}

.wrapper {
    width: 100%;
}

.left {
   width: 50%;
    padding-left: 120px;
}

.right {
    width: 50%;
    padding-left: 60px;
}

.source {
    font-size: 16px;
    padding-bottom:  2px;
}

img.center {
    margin: 0 auto;
}

code {
    font-size: 18px;
}

.apropos {
    color: grey;
}

.smallText {
    font-size: 20px;
}

.lessSpacing p {
 margin-bottom: 10px;   
}

ol >li > ul > li {
    font-size: 14px;
}

.center img {
    display: block;
    margin: auto;
}

.row {
    display: flex;
}

.rot90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

h2.fork:after{
    content: "";
    width: 40px;
    height: 40px;
    background: url("figs/knifeFork.svg") no-repeat fixed;
    position: relative;
    display: inline-block;
    background-size: contain;
    left:10px;
}