/* Styles */

.highTitle.slide {
    padding:20px 100px 0;
}

.container {
    display: flex;
}

.item {
    margin: auto;
}

.wrapper {
    width: 100%;
}

.left {
   width: 50%;
    padding-left: 120px;
}

.right {
    width: 50%;
    padding-left: 60px;
}

.source {
    font-size: 16px;
    padding-bottom:  2px;
}

img.center {
    display: block;
    margin: 0 auto;
}

img.Hcenter {
    margin-top: 100px;;
}


code {
    font-size: 18px;
}

.slide pre {
    margin-bottom: 0px;
}

.apropos {
    color: grey;
}

.smallText {
    font-size: 20px;
}

.lessSpacing p {
 margin-bottom: 10px;   
}

ol >li > ul > li {
    font-size: 14px;
}

img.centerFill{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    position: relative;
}

@font-face {
    font-family: 'AnimalesFantastic';
    src: url("fonts/AnimalesFantastic.otf") format("opentype");
}

a.ref {
    font-size:20px;
    color: grey;
    text-decoration-style: dotted;
    position: absolute;
    bottom: 20px;
    left:100px;
}

h2.fork:after{
    content: "";
    width: 40px;
    height: 40px;
    background: url("figs/knifeFork.svg") no-repeat fixed;
    position: relative;
    display: inline-block;
    background-size: contain;
    left:10px;
}
