/* Styles */

.highTitle.slide {
    padding:20px 100px 0;
}

.container {
    display: flex;
}

.wrapper {
    width: 100%;
}

.left {
   width: 50%;
    padding-left: 120px;
}

.right {
    width: 50%;
    padding-left: 60px;
}

.source {
    font-size: 16px;
    padding-bottom:  2px;
}

img.center {
    margin: 0 auto;
}

code {
    font-size: 18px;
}

.apropos {
    color: grey;
}

.smallText {
    font-size: 20px;
}

.lessSpacing p {
 margin-bottom: 10px;   
}

ol >li > ul > li {
    font-size: 14px;
}

img.centerFill{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
    position: relative;
}


a.ref {
    font-size:20px;
    color: grey;
    text-decoration-style: dotted;
    position: absolute;
    bottom: 20px;
    left:100px;
}
